.App {
  height: 100vh;
  background-color: #282c34;
}

.title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  color: #E87722;
}

.container-form {
  background-color: #fff;
  min-width: 40vw;
  min-height: 50vh;
  border-radius: 10px;
  box-shadow: #282c34;
  padding: 50px
}

.btn-cal {
  background-color: #E87722;
  color: #fff;
  align-self: center;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  color: #fff;
}

.card-container {
  margin-bottom: 10px;
  text-align: center;
  color: green
}

.card-container-err {
  margin-bottom: 10px;
  text-align: center;
  color: red
}